.app-top-bar {
  background-color: #e2bded;
}

.app-container {
  display: inline-grid;
  grid-column-gap: 16px;
  grid-row-gap: 10%;
  width: 100%;

  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "app-disease-selection              app-medicine-selection"
    "app-identical-medicines-details    app-identical-medicines-details"
}

.app-disease-selection {
  grid-area: app-disease-selection
}

.app-medicine-selection {
  grid-area: app-medicine-selection
}

.app-identical-medicines-details {
  grid-area: app-identical-medicines-details
}

.app-background-text {
  position: fixed;
  left: 30%;
  bottom: 35%;
  z-index: -1;

  color: rgba(240, 221, 246, 0.4);

  font-size: 1000%;
  font-weight: bolder;
}
